/******************************* reset ************************* */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  padding: 0 90px;
}

img {
  min-width: 200px;
}

/******************************* global ************************* */

body {
  background-color: #fff;
  font-size: 14px;
  font-family: font86463;
  line-height: 1.4;
  color: #000;
}

figure figcaption {
  font-size: 14px;
  color: #666;
  margin-right: 270px;
}

figure figcaption span {
  color: #888;
  font-size: 13px;
}

p > a {
  color: #326891;
}

h2 {
  font-size: 20px;
}

/* header section */

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1000;
  border-bottom: #dbdbdb 1px solid;
  margin-bottom: 80px;
  background-color: #fff;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.left-nav li:not(:last-child) {
  margin-right: 25px;
}

.right-nav li {
  margin-left: 7px;
}

.right-nav button,
.right-nav button {
  background-color: #567b95;
  padding: 7px 12px;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 12px;
}

.main-logo {
  margin: auto;
}

.main-logo svg {
  width: 180px;
  margin-left: 120px;
  padding-top: 10px;
}

/******************************* main-section ************************* */

.main-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-section h1 {
  font-size: 40px;
  width: 600px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px;
}

.main-section figure {
  padding: 0 55px;
  margin-bottom: 40px;
}

.main-section figure img {
  width: 100%;
  margin-bottom: 10px;
}

/******************************* paragraph-1-section ************************* */
.paragraph-1 > .paragraph-1-container > div > p {
  width: 600px;
  margin: 0 auto;
  color: black;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.paragraph-1-container{
  display: flex;
  align-items: center;
}

.paragraph-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.paragraph-1 > div {
  width: 600px;
  justify-self: center;
  align-self: center;
}
.paragraph-1 img {
  width: 27px;
  height: 27px;
}

.paragraph-1 .author-info {
  color: #333;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.paragraph-1 .author-info a {
  color: #333;
}

.paragraph-1 .paragraph-1-social {
  margin: 15px 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paragraph-1-social > div {
  display: flex;
}
.paragraph-1-social p {
  margin: 0;
}

.paragraph-1 .paragraph-1-social ul {
  display: flex;
}

.paragraph-1 .paragraph-1-social .social-icons li {
  margin-left: 20px;
  background-color: #eeeeee;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.paragraph-1 .paragraph-1-social ul:last-child li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.paragraph-1 .subscribe-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  font-size: 15px;
  margin: 25px 0;
}

.paragraph-1 .subscribe-text > hr {
  width: 70px;
  border: none;
  border-top: 1px solid #d4d4d4;
}

.paragraph-1 .subscribe-text > p {
  margin-top: 20px;
  font-weight: bold;
}
.paragraph-1 .subscribe-text > a {
  color: #326891;
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: none;
}

.paragraph-1 h2 {
  margin: 40px 0 20px;
}

/* editor-pick */

.editor-pick {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.editor-pick h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 15px;
}
.editor-pick-articles article {
  display: flex;
  align-items: center;
  width: 210px;
  margin-bottom: 15px;
}

.editor-pick-articles article a {
  margin-left: 15px;
  color: #333;
  text-decoration: none;
}

.editor-pick-articles article img {
  width: 75px;
  height: 75px;
}



/******************************* paragraph-2-section ************************* */

.paragraph-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.paragraph-2-container {
  display: flex;
  flex-direction: column;
  width: 950px;
}

.paragraph-2-start p {
  font-size: 16px;
  color: #666666;
  line-height: 1.2;
}

.astronomy-container{
  position: relative;
}

.astronomy-container .image-articles-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-articles-container div{
  width: 228px;
  border: 1px solid red;
}

.astronomy-container img{
  width: 100%;
  z-index: -30;
  position: absolute;
}

