/******* reset section ********/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

/* header section */

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 1000;
  border-bottom: #dbdbdb 1px solid;
}

header ul {
  list-style-type: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.left-nav li {
  margin-right: 25px;
}

.right-nav li {
  margin-left: 7px;
}

.right-nav button,
.right-nav button {
  background-color: #567b95;
  padding: 7px 12px;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 12px;
}

.main-logo {
  margin: auto;
}

.main-logo svg {
  width: 175px;
  margin-left: 100px;
  padding-top: 10px;
}

.container {
  margin-top: 40px;
}
